main{
  width: 460px;
  margin: 0 auto;
}
.btn_edit{
  display: list-item;
  margin: 0 auto;
  border: 1px solid;
  padding:0 20px 0 20px;
  border-radius: 30px;
}
.form_line{
  border-bottom: 1px gray solid;
  width: 480px;
}
.form{
  margin-bottom: 10px;
}
.item{
  margin-bottom: 50px;
  display:flex;
}
.fontsize{
  display:flex;
  font-size:12px;
  margin-bottom: 50px;
}
.mr_bt{
  margin-bottom: 50px;
}
footer{
  bottom: 0;
  position: absolute;
}
