* {
  box-sizing: border-box;
}
/* ページ全体の基本デザイン */
body {
  /*文字・文章*/
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", 游ゴシック,
    "Yu Gothic", 游ゴシック体, YuGothic, "Meiryo UI", メイリオ, Meiryo,
    sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.9;
  /*幅*/
  margin: 0 0 0;
  min-width: 960px;
  background:#F2F5F7;
}
​
/* ----------------共通設定------------------- */

/* 見出し */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2em 0 1em;
  clear: both;
  letter-spacing: 1px;
}

/* リスト */
ul {
  padding-left: 20px;
  margin: 0;
}
​
ol {
  padding-left: 20px;
}
​
dd {
  margin-left: 0;
}
​
/* テーブル */
table {
  border-collapse: collapse;
}

​
/* リンク */
a {
  color: #000000;
  text-decoration: none;
}
​
a:hover {
  text-decoration: underline;
}
​
/*画像*/
img {
  max-width: 100%;
}

/*表示領域 .inner*/
.inner {
  width: 1000px;
  margin: 0 auto;
}
​
/* --------------共通設定END---------------- */


/* --------------header------------------ */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
header .display{
  box-shadow: 1px 1px 1px #DDDDDD;
  background-color: #fff;
  align-items: center;
  margin-bottom: 50px;
}
header .header {
  margin-left: 200px;
  margin-right:200px;
  height: 77px;
  color: #383333;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
header .prof_img{
  border-radius: 50%;
  margin-left: 10px;
}
header.maintag{
  margin-left: 35px;
  font-size: 12px;
}
header .lefttag{
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-size: 12px;
  align-items: flex-end;
}
/* リンク */
header .top_menu{
  color: #383333;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
header .drop_icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
header .drop_flex{
  display: flex;
  text-align: left;
  padding-left: 10px;
}

/* ----------------footer-------------------*/

footer{
  width: 100%;
  background-color: #01A6EA;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
footer .display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 230px;
  margin-right:230px;
  margin-bottom: 40px;
}
footer .sub {
  padding-right: 20px;
}
footer .banner {
  padding-left: 20px;
}
footer a {
  list-style: none;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Alfa Slab One", cursive;
  margin-left: 50px;
  color: #fff;
}
footer ul{
  display: flex;
}
footer .favorite_icon {
  padding: 20px 0 0 10px;
}
footer .copyright {
  text-align: center;
  border-top: solid 1px #707070;
}
a {
  color: #000000;
  text-decoration: none;
}
