
/* ----------------- スタート → チェックボックス ----------------------*/

/* 元々のチェックボックス（非表示） */
.check_box_design input[type="checkbox"]{
    display: none;
}
/* チェックボックスの代わりを成すラベル */
.check_box_design input[type="checkbox"]+label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
}
/* ラベルの左に表示させる正方形のボックス */
.check_box_design input[type="checkbox"]+label::before{
    border-radius: 15%;
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 0;
    top: 50%;
    border: 1px solid;
    border-color:  #585753; /* 枠の色変更 */
    background-color: #FFF; /* 背景の色変更 */
}
/* チェックが入った時のレ点 */
.check_box_design input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: -9px;
    top: 50%;
    left: 3px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color:  #585753; /* チェックの色変更 */
}
/* ----------------- ここまで → チェックボックス ----------------------*/

main{
  width: 960px;
  margin: 0 auto;
}
.display_card_first h1{
  font-size: 20px;
}
.display_card_second h1{
  font-size: 20px;
}

/* カードの名前、ひとこと---------------------------------------------------- */
h2{
  font-size: 15px;
}
/* -------------------------------------------------------------------- */
.display_card_first{
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}
.tb_flex{
  display: flex;
  justify-content:space-around;
}
label{
  font-size:12px;
}
td{
  margin-bottom: 5px;
}
.my_sentaku{
  margin-bottom:30px;
}
.sonota_sentaku{
  display: flex;
  align-self: flex-start;
  margin-bottom: 10px;
  padding-left: 28px;
}
.kihon_info{
  display: flex;
  justify-content:space-around;
}
.sonota{
  display: flex;
  margin-right: 30px;
}
.btn{
  display: flex;
  margin: 0 auto;
  border: 1px solid;
  margin-top: 30px;
  margin-bottom:10px;
  padding:5px 70px 5px 70px;
  border-radius: 30px;
  background: #fff;
}
.display_card_second{
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 30px;
  max-width: 31%;
  max-height: 35%;
}
.card_info{
  display: flex;
  padding: 20px;
}
.card_sub{
  border-top: 1px solid;
  padding: 20px;
}
.prof_img{
  border-radius: 50%;
}
.one_item{
  text-align-last: center;
}
.mail_icon{
  width: 30px;
  height: 30px;
  margin-top: 40px;
}
.hitokoto_area{
  border: 0.5px solid;
}
.card_two{
  display: flex;
  justify-content: space-between;
}
.gengo_sentaku{
  padding-left: 28px;
  padding-right: 220px;
  justify-content: space-between;
}
.data-feather{
  color: #000
}

