
/* ----------------- スタート → チェックボックス ----------------------*/

/* 元々のチェックボックス（非表示） */
.check_box_design input[type="checkbox"]{
    display: none;
}
/* チェックボックスの代わりを成すラベル */
.check_box_design input[type="checkbox"]+label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
}
/* ラベルの左に表示させる正方形のボックス */
.check_box_design input[type="checkbox"]+label::before{
    border-radius: 15%;
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 0;
    top: 50%;
    border: 1px solid;
    border-color:  #585753; /* 枠の色変更 */
    background-color: #FFF; /* 背景の色変更 */
}
/* チェックが入った時のレ点 */
.check_box_design input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: -9px;
    top: 50%;
    left: 3px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color:  #585753; /* チェックの色変更 */
}
/* ----------------- ここまで → チェックボックス ----------------------*/
main{
  width: 720px;
  margin: 0 auto;
}
.tb_flex{
  display: flex;
  justify-content:space-between;
}
label{
  font-size:12px;
}
td{
  margin-bottom: 5px;
}
.my_sentaku{
  margin-bottom:30px;
}
.sonota_sentaku{
  display: flex;
  align-self: flex-start;
  margin-bottom: 10px;
}
.kihon_info{
  display: flex;
}
.sonota{
  display: flex;
  margin-right: 30px;
}
.btn{
  margin-bottom:30px;
}
