/* -------------------------------------------------------------------- */
/* チェックボックス */
/* -------------------------------------------------------------------- */

.check_box_design {
  width: 200px;
}
/* 元々のチェックボックス（非表示） */
.check_box_design input[type="checkbox"] {
  display: none;
}
/* チェックボックスの代わりを成すラベル */
.check_box_design input[type="checkbox"] + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}
/* ラベルの左に表示させる正方形のボックス */
.check_box_design input[type="checkbox"] + label::before {
  border-radius: 15%;
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border-color: #CCD6E0;
  border-width: 1px;
  background-color: #F9F9F9;
}
/* チェックが入った時のレ点 */
.check_box_design input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #585753; /* チェックの色変更 */
}

/* -------------------------------------------------------------------- */
/* 全体デザイン */
/* -------------------------------------------------------------------- */

main {
  width: 960px;
  margin: 0 auto;
  margin-top: 120px;
}
.display_card_first h1 {
  font-size: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
.display_card_second h1 {
  font-size: 20px;
  width: 90%;
  padding: 5px;
}
.display_card_second h2 {
  font-size: 12px;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "Meiryo UI", メイリオ, Meiryo, sans-serif;
  margin-top: 0px;
  width: auto;
}
.display_card_first {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  background: #fff;
  color: #383333;
}
.display_card_second {
  border-radius: 5px;
  margin-bottom: 30px;
  width: 300px;
  height: auto;
  background: #fff;
  color: #383333;
  margin: 0 10px 20px;
}
.my_sentaku {
  margin-bottom: 30px;
}
.my_sentaku_title{
  margin-bottom: 20px;
}

/* -------------------------------------------------------------------- */
/* カードの全体のデザイン*/
/* -------------------------------------------------------------------- */

.display_card_first {
  border-radius: 1%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
}
.display_card_second {
  border-radius: 1%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
}

.display_card_second:hover {
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

/* -------------------------------------------------------------------- */
/* カードの名前、ひとこと */
/* -------------------------------------------------------------------- */

h2 {
  font-size: 10px;
}

/* -------------------------------------------------------------------- */
/* プロフィールカード部分 */
/* -------------------------------------------------------------------- */

.tb_flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
label {
  font-size: 12px;
}
td {
  margin-bottom: 5px;
}
.sonota_sentaku {
  display: flex;
  align-self: flex-start;
  margin-bottom: 10px;
  padding-left: 28px;
}
.kihon_info {
  display: flex;
  justify-content: space-around;
}
.sonota {
  display: flex;
  margin-right: 30px;
}
.card_info {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
}
.card_sub {
  padding: 20px;
}
.img {
  width: 100%;
  height: auto;
}
.prof_img1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f8fafd;
}
.one_item {
  text-align-last: center;
  width: 45%;
}
.hitokoto_area {
  border-color:  #CCD6E0;
  border-width: 1px;
  border-radius: 2px;
  padding: 2px;
  height: 80px;
  font-size: 13px;
}
.card_two {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}
.data-feather {
  color: #000;
}
.two_item {
  width: 50%;
  height: 20px;
}
.area_title {
  width: 100%;
  border-bottom: 1px gray solid;
}
.occupation_area {
  width: 100%;
  margin-top: 0px;
}
.card_main_info > p {
  margin-bottom: 0px;
  font-size: 16px;
}
.card_main_info {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.occupation_area {
  display: flex;
  justify-content: space-between;
  height: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.preview_tag1 {
  background: #CCD6E0;
  border-radius: 8px;
  width: 80px;
  font-weight: bold;
  height: auto;
  font-size: 10px;
  text-align: center;
  overflow-wrap: break-word;
  padding: 2px;
}
.lang_area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.preview_tag2 {
  background: #CCD6E0;
  border-radius: 10px;
  font-weight: bold;
  width: 80px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  overflow-wrap: break-word;
}

/* -------------------------------------------------------------------- */
/* ボタンデザイン */
/* -------------------------------------------------------------------- */

.btn {
  display: flex;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
  padding: 5px 50px 5px 50px;
  border-radius: 30px;
  margin-bottom: 10px;
  background: #00478f;
  border: 1px solid #00478f;
  letter-spacing: 2px;
}
.btn:hover {
  background: #fff;
  color: #00478f;
  font-weight: bold;
}
.btn_user{
  margin-bottom: 50px;
}
